* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* This is for MainHtml*/
.main-nav {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

nav {
  padding-left: 6rem;
}

ul {
  display: flex;
}

li {
  padding: 1rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: rgb(230, 104, 95);
  padding: 10px;
  border: 1px solid rgb(230, 104, 95);
  border-radius: 5px;
}

nav a:hover {
  color: grey;
  background-color: rgb(233, 137, 130);
  border: 1px solid rgb(233, 128, 121);
}

body {
  width: 90%;
  margin: auto;
}

/* This is for scrollbar*/
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* This is for Profile */

.mainprofile {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  height: 60vh;
}

.studentinfo,
.subjectinfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

/* This is for message*/

.mainmessage {
  background-color: aqua;
  height: 70vh;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.message-container {
  height: 65vh;
  width: 20vw;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.message-container h1 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.messages {
  height: 50vh;
  padding-top: 10px;
  overflow: auto;
}
.messages::-webkit-scrollbar {
  width: 11px;
}
.messages {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.messages::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.messages::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.notif {
  padding: 10px;
  cursor: pointer;
  overflow: auto;
}

.message-content {
  width: 55vw;
  height: 60vh;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
  overflow: auto;
}

.message-content p {
  padding: 10px;
}

.message-content::-webkit-scrollbar {
  width: 11px;
}
.message-content {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.message-content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.message-content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.notif h3:hover {
  color: grey;
}

/* This is for Subjects*/

.student-binfo {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  height: 30vh;
  margin-bottom: 1rem;
}

.stuinf,
.numofsub {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

.numofsub {
  text-align: center;
}

.subjects {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 60vh;
  height: auto;
  margin: 1rem;
}

.top-tb {
  width: 80vw;
  margin: 1rem;
}

.top-tb td {
  border: 1px solid black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  max-width: 200px;
  max-height: 3rem;
}

.title-tr {
  color: brown;
  background-color: aqua;
}
