* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* This is for MainHtml*/
.main-nav {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

nav {
  padding-left: 6rem;
}

ul {
  display: flex;
}

li {
  padding: 1rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: rgb(230, 104, 95);
  padding: 10px;
  border: 1px solid rgb(230, 104, 95);
  border-radius: 5px;
}

nav a:hover {
  color: grey;
  background-color: rgb(233, 137, 130);
  border: 1px solid rgb(233, 128, 121);
}

body {
  width: 90%;
  margin: auto;
}

/* This is for scrollbar*/
html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* This is for Profile */

.mainprofile {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  height: 60vh;
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.2);
}

.studentinfo,
.subjectinfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

/* This is for Regitration*/

main {
  border: 1px solid black;
  min-height: 80vh;
  margin-bottom: 1rem;
  border-radius: 15px;
  height: auto;
}

.regis {
  margin-bottom: 1rem;
  width: 80vw;
}

.regis td {
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

tr .non-border {
  border: none;
}
.current-subjects {
  padding: 1rem;
}

.subtable {
  align-items: center;
  padding-top: 5rem;
}

.regis button {
  height: 2.5rem;
  width: 4rem;
  border: 1px dotted black;
  border-radius: 5px;
  background-color: lightblue;
}

.regis button:hover {
  background-color: rgb(193, 220, 230);
}

/* This is for Subjects*/

.student-binfo {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  height: 30vh;
  margin-bottom: 1rem;
}

.stuinf,
.numofsub {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

.numofsub {
  text-align: center;
}

.subjects {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 60vh;
  height: auto;
  margin: 1rem;
}

.top-tb {
  width: 80vw;
  margin: 1rem;
}

.top-tb td {
  border: 1px solid black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  max-width: 200px;
  max-height: 3rem;
}

.title-tr {
  color: brown;
  background-color: aqua;
}

/*This is for Grades*/

.maingrade {
  border: 1px solid black;
  border-radius: 15px;
  min-height: 80vh;
  margin-bottom: 1rem;
  height: auto;
}

.maingrade h2,
.maingrade h3 {
  padding: 1rem;
}

.topgrade-tb {
  width: 80vw;
  margin: 1rem;
}

.topgrade-tb td {
  border: 1px solid black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  max-width: 200px;
  max-height: 3rem;
}

.titlegrade-tr {
  color: brown;
  background-color: aqua;
}

/* This is for Accounts */

.acc-container {
  background-color: #e9f2f7;
  border: 1px solid black;
  height: 80vh;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.all-info {
  margin-top: 4rem;
  display: flex;
  padding: 1rem;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
  height: 50vh;
}
